/* RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* IMAGE RESET */
img, picture, video, canvas { max-width: 100%; display: block; }

/* BUTTON RESET */
button { border: none; background: none; font: inherit; cursor: pointer; }

/* VARIABLES */
:root {
  --dark-bg: #1F2937;
  --hero-main: #F9FAF8;
  --hero-secondary: #E5E7EB;
  --button-color: #3882F6;
}
