@import "../../css/base.css";
@import "../../css/header.css";
@import "../../css/body.css";

/* BODY */
body {
  background-color: var(--dark-bg); 
  color: var(--hero-main);
}

/* CONTAINER SECTION */
.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 100px;
  flex: 1;
}

.info {
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
  color: #333;
  text-align: center;
  flex: 1;
  max-width: 500px;
}

.info h1 {
  margin-bottom: 20px;
  color: var(--dark-bg);
}

.info p {
  padding: 10px;
  text-align: left;
}

form {
  display: inline-block;
  width: 100%; /* width is 100% of available space */
  padding: 1em;
  margin-top: 10px; /* MIGHT CHANGE LATER */
}

form p {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 500; /* if not responsive check head element on html file */
}

input, 
textarea {
  font: 1em 'Montserrat', sans-serif; 
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #999999;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--button-color); /* A property that draws a line outside the element's border. */
  outline-offset: -2px; /*  This property controls the space between the element's border and its outline. */
}

textarea {
  min-height: 120px;
  resize: vertical;
}

.button {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 10px 20px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s; /* When the button's background color changes (e.g., on hover), it will fade to the new color over 0.3 seconds instead of changing instantly. */
}

button:hover {
  background-color: #2a6fd3;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    gap: 1rem;
  }
      
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .info {
  padding: 1.5rem;
  }
      
  .info h1 {
    font-size: 1.5rem;
  }
      
  .button {
    justify-content: center;
  }
      
  button {
    width: 100%;
  }
}
