/* VARIABLES */
:root {
  --dark-bg: #1F2937;
  --hero-main: #F9FAF8;
  --hero-secondary: #E5E7EB;
  --button-color: #3882F6;
}

/* RESET */
*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Montserrat'; 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh;
  background-color: #1F2937;
}

/* HEADER SECTION */
header {
  background-color: var(--dark-bg);
  padding: 32px 0; 
}

.header-container {
  max-width: 1200px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; 
}

.logo {
  color: var(--hero-main);
  font-size: 16px;
}

/* HEADER LINKS */
nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: var(--hero-secondary);
}

.nav-link {
  text-decoration: none;
  transition: color 0.2s;
}

.nav-link:hover, .nav-link:focus {
  color: teal; /* this was var(--accent) */
  outline: none;
}

/* ABOUT ME SECTION */
.about {
  padding: 100px 200px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #f0f0f0;
}

.about-container h1 {
  margin-bottom: 10px;
  font-size:3.2em;
}

.about-container p {
  font-size: 1.1em;
}

